/* CCS GENERAL DE ELEMENTOS */


*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #222;
    color: white;
    font: 200 14px 'Poppins', sans-serif;
}

h2{
    font-size:36px;
    line-height: 36px;
}

h3{
    color:#999;
    font-size:18px;
    font-weight:300;
}

section{
    padding: 10px 100px 10px 100px;
}

p{
    text-align: justify;
}

cite{
    font-weight:300;
}

i{
    font-size: 24px ;
}
/* 
Selecciona cualquier elemento que coincida con :link o :visited 
El que sea -moz o webkit solo es para compatibilidad de navegadores
*/
a:any-link{
    color: white;
}
a:-moz-any-link{
    color: white;
}

a:-webkit-any-link{
    color: white;
}


/* CSS IDs y Clase */

.hastag{
    color:#ffc900;
}

#img-perfil{
    height: 250px;
    border: 1px solid #ffc900;
}

/* ----SOCIAL MEDIA--------------------------------------------------------------------------------------------------- */
/* ul */
#social-media{
    margin-top: 20PX;
    list-style: none;
    padding: 0;
    font-size: 2em;
}

/* a */
.social-media-icon{
    width: 30px;
    margin-right: 5px;
    float: left;
    transition: all .2s ease-in-out;
}

/*  a:hover */
.social-media-icon:hover{
    color: #ffc900;
    transform: scale(1.5);
    margin: 5px;
}
/* ------------------------------------------------------------------------------------------------------------------- */

#inicio{
    background-image: url("../imagenes/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}

#experiencia{
    background-color:white;
    color: #222;
}
#portfolio {
    border-top: 1px solid #ffc900;
}







